{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.ecr.amazonaws.com/"
        },
        {
            "url": "http://api.ecr.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon Elastic Container Registry (Amazon ECR) is a managed Docker registry service. Customers can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories with resource-based permissions using IAM so that specific users or Amazon EC2 instances can access repositories and images. Developers can use the Docker CLI to author and manage images.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon EC2 Container Registry",
        "version": "2015-09-21",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ecr-2015-09-21.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "ecr"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/ecr/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Check the availability of multiple image layers in a specified registry and repository.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
                "operationId": "BatchCheckLayerAvailability",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "failures": {
                                            "description": "Any failures associated with the call.",
                                            "items": {
                                                "description": "An object representing an Amazon ECR image layer failure.",
                                                "properties": {
                                                    "failureCode": {
                                                        "description": "The failure code associated with the failure.",
                                                        "enum": [
                                                            "InvalidLayerDigest",
                                                            "MissingLayerDigest"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "failureReason": {
                                                        "description": "The reason for the failure.",
                                                        "type": "string"
                                                    },
                                                    "layerDigest": {
                                                        "description": "The layer digest associated with the failure.",
                                                        "maxLength": 1000,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "layers": {
                                            "description": "A list of image layer objects corresponding to the image layer references in the request.",
                                            "items": {
                                                "description": "An object representing an Amazon ECR image layer.",
                                                "properties": {
                                                    "layerAvailability": {
                                                        "description": "The availability status of the image layer.",
                                                        "enum": [
                                                            "AVAILABLE",
                                                            "UNAVAILABLE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "layerDigest": {
                                                        "description": "The <code>sha256</code> digest of the image layer.",
                                                        "pattern": "[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+",
                                                        "type": "string"
                                                    },
                                                    "layerSize": {
                                                        "description": "The size, in bytes, of the image layer.",
                                                        "type": "integer"
                                                    },
                                                    "mediaType": {
                                                        "description": "The media type of the layer, such as <code>application/vnd.docker.image.rootfs.diff.tar.gzip</code> or <code>application/vnd.oci.image.layer.v1.tar+gzip</code>.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "layerDigests": {
                                        "description": "The digests of the image layers to check.",
                                        "items": {
                                            "maxLength": 1000,
                                            "minLength": 0,
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository that is associated with the image layers to check.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName",
                                    "layerDigests"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDeleteImage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a list of specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image's tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image's digest in your request.</p>",
                "operationId": "BatchDeleteImage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "failures": [],
                                        "imageIds": [
                                            {
                                                "imageDigest": "sha256:examplee6d1e504117a17000003d3753086354a38375961f2e665416ef4b1b2f",
                                                "imageTag": "precise"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "failures": {
                                            "description": "Any failures associated with the call.",
                                            "items": {
                                                "description": "An object representing an Amazon ECR image failure.",
                                                "properties": {
                                                    "failureCode": {
                                                        "description": "The code associated with the failure.",
                                                        "enum": [
                                                            "InvalidImageDigest",
                                                            "InvalidImageTag",
                                                            "ImageTagDoesNotMatchDigest",
                                                            "ImageNotFound",
                                                            "MissingDigestAndTag"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "failureReason": {
                                                        "description": "The reason for the failure.",
                                                        "type": "string"
                                                    },
                                                    "imageId": {
                                                        "description": "The image ID associated with the failure.",
                                                        "properties": {
                                                            "imageDigest": {
                                                                "description": "The <code>sha256</code> digest of the image manifest.",
                                                                "type": "string"
                                                            },
                                                            "imageTag": {
                                                                "description": "The tag used for the image.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "imageIds": {
                                            "description": "The image IDs of the deleted images.",
                                            "items": {
                                                "description": "An object with identifying information for an Amazon ECR image.",
                                                "properties": {
                                                    "imageDigest": {
                                                        "description": "The <code>sha256</code> digest of the image manifest.",
                                                        "type": "string"
                                                    },
                                                    "imageTag": {
                                                        "description": "The tag used for the image.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 100,
                                            "minItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.",
                                "example": {
                                    "imageIds": [
                                        {
                                            "imageTag": "precise"
                                        }
                                    ],
                                    "repositoryName": "ubuntu"
                                },
                                "properties": {
                                    "imageIds": {
                                        "description": "A list of image ID references that correspond to images to delete. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.",
                                        "items": {
                                            "description": "An object with identifying information for an Amazon ECR image.",
                                            "properties": {
                                                "imageDigest": {
                                                    "description": "The <code>sha256</code> digest of the image manifest.",
                                                    "type": "string"
                                                },
                                                "imageTag": {
                                                    "description": "The tag used for the image.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry that contains the image to delete. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The repository that contains the image to delete.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName",
                                    "imageIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetImage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets detailed information for specified images within a specified repository. Images are specified with either <code>imageTag</code> or <code>imageDigest</code>.",
                "operationId": "BatchGetImage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "failures": [],
                                        "images": [
                                            {
                                                "imageId": {
                                                    "imageDigest": "sha256:example76bdff6d83a09ba2a818f0d00000063724a9ac3ba5019c56f74ebf42a",
                                                    "imageTag": "precise"
                                                },
                                                "imageManifest": "{\n \"schemaVersion\": 1,\n \"name\": \"ubuntu\",\n \"tag\": \"precise\",\n...",
                                                "registryId": "244698725403",
                                                "repositoryName": "ubuntu"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "failures": {
                                            "description": "Any failures associated with the call.",
                                            "items": {
                                                "description": "An object representing an Amazon ECR image failure.",
                                                "properties": {
                                                    "failureCode": {
                                                        "description": "The code associated with the failure.",
                                                        "enum": [
                                                            "InvalidImageDigest",
                                                            "InvalidImageTag",
                                                            "ImageTagDoesNotMatchDigest",
                                                            "ImageNotFound",
                                                            "MissingDigestAndTag"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "failureReason": {
                                                        "description": "The reason for the failure.",
                                                        "type": "string"
                                                    },
                                                    "imageId": {
                                                        "description": "The image ID associated with the failure.",
                                                        "properties": {
                                                            "imageDigest": {
                                                                "description": "The <code>sha256</code> digest of the image manifest.",
                                                                "type": "string"
                                                            },
                                                            "imageTag": {
                                                                "description": "The tag used for the image.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "images": {
                                            "description": "A list of image objects corresponding to the image references in the request.",
                                            "items": {
                                                "description": "An object representing an Amazon ECR image.",
                                                "properties": {
                                                    "imageId": {
                                                        "description": "An object containing the image tag and image digest associated with an image.",
                                                        "properties": {
                                                            "imageDigest": {
                                                                "description": "The <code>sha256</code> digest of the image manifest.",
                                                                "type": "string"
                                                            },
                                                            "imageTag": {
                                                                "description": "The tag used for the image.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "imageManifest": {
                                                        "description": "The image manifest associated with the image.",
                                                        "type": "string"
                                                    },
                                                    "registryId": {
                                                        "description": "The AWS account ID associated with the registry containing the image.",
                                                        "pattern": "[0-9]{12}",
                                                        "type": "string"
                                                    },
                                                    "repositoryName": {
                                                        "description": "The name of the repository associated with the image.",
                                                        "maxLength": 256,
                                                        "minLength": 2,
                                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "imageIds": [
                                        {
                                            "imageTag": "precise"
                                        }
                                    ],
                                    "repositoryName": "ubuntu"
                                },
                                "properties": {
                                    "acceptedMediaTypes": {
                                        "description": "<p>The accepted media types for the request.</p> <p>Valid values: <code>application/vnd.docker.distribution.manifest.v1+json</code> | <code>application/vnd.docker.distribution.manifest.v2+json</code> | <code>application/vnd.oci.image.manifest.v1+json</code> </p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "imageIds": {
                                        "description": "A list of image ID references that correspond to images to describe. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.",
                                        "items": {
                                            "description": "An object with identifying information for an Amazon ECR image.",
                                            "properties": {
                                                "imageDigest": {
                                                    "description": "The <code>sha256</code> digest of the image manifest.",
                                                    "type": "string"
                                                },
                                                "imageTag": {
                                                    "description": "The tag used for the image.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry that contains the images to describe. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The repository that contains the images to describe.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName",
                                    "imageIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CompleteLayerUpload": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Informs Amazon ECR that the image layer upload has completed for a specified registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
                "operationId": "CompleteLayerUpload",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "layerDigest": {
                                            "description": "The <code>sha256</code> digest of the image layer.",
                                            "pattern": "[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+",
                                            "type": "string"
                                        },
                                        "registryId": {
                                            "description": "The registry ID associated with the request.",
                                            "pattern": "[0-9]{12}",
                                            "type": "string"
                                        },
                                        "repositoryName": {
                                            "description": "The repository name associated with the request.",
                                            "maxLength": 256,
                                            "minLength": 2,
                                            "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                            "type": "string"
                                        },
                                        "uploadId": {
                                            "description": "The upload ID associated with the layer.",
                                            "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UploadNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidLayerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LayerPartTooSmallException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "LayerAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "EmptyUploadException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "layerDigests": {
                                        "description": "The <code>sha256</code> digest of the image layer.",
                                        "items": {
                                            "pattern": "[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+",
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry to which to upload layers. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository to associate with the image layer.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    },
                                    "uploadId": {
                                        "description": "The upload ID from a previous <a>InitiateLayerUpload</a> operation to associate with the image layer.",
                                        "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName",
                                    "uploadId",
                                    "layerDigests"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateRepository": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an image repository.",
                "operationId": "CreateRepository",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "repository": {
                                            "registryId": "012345678901",
                                            "repositoryArn": "arn:aws:ecr:us-west-2:012345678901:repository/project-a/nginx-web-app",
                                            "repositoryName": "project-a/nginx-web-app"
                                        }
                                    },
                                    "properties": {
                                        "repository": {
                                            "description": "The repository that was created.",
                                            "properties": {
                                                "createdAt": {
                                                    "description": "The date and time, in JavaScript date format, when the repository was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "registryId": {
                                                    "description": "The AWS account ID associated with the registry that contains the repository.",
                                                    "pattern": "[0-9]{12}",
                                                    "type": "string"
                                                },
                                                "repositoryArn": {
                                                    "description": "The Amazon Resource Name (ARN) that identifies the repository. The ARN contains the <code>arn:aws:ecr</code> namespace, followed by the region of the repository, AWS account ID of the repository owner, repository namespace, and repository name. For example, <code>arn:aws:ecr:region:012345678910:repository/test</code>.",
                                                    "type": "string"
                                                },
                                                "repositoryName": {
                                                    "description": "The name of the repository.",
                                                    "maxLength": 256,
                                                    "minLength": 2,
                                                    "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                                    "type": "string"
                                                },
                                                "repositoryUri": {
                                                    "description": "The URI for the repository. You can use this URI for Docker <code>push</code> or <code>pull</code> operations.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidTagParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyTagsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "RepositoryAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "repositoryName": "project-a/nginx-web-app"
                                },
                                "properties": {
                                    "repositoryName": {
                                        "description": "The name to use for the repository. The repository name may be specified on its own (such as <code>nginx-web-app</code>) or it can be prepended with a namespace to group the repository into a category (such as <code>project-a/nginx-web-app</code>).",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    },
                                    "tags": {
                                        "description": "<p/>",
                                        "items": {
                                            "description": "The metadata that you apply to a resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
                                            "properties": {
                                                "Key": {
                                                    "description": "One part of a key-value pair that make up a tag. A <code>key</code> is a general label that acts like a category for more specific tag values.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The optional part of a key-value pair that make up a tag. A <code>value</code> acts as a descriptor within a tag category (key).",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "repositoryName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteLifecyclePolicy": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified lifecycle policy.",
                "operationId": "DeleteLifecyclePolicy",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "lastEvaluatedAt": {
                                            "description": "The time stamp of the last time that the lifecycle policy was run.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lifecyclePolicyText": {
                                            "description": "The JSON lifecycle policy text.",
                                            "maxLength": 30720,
                                            "minLength": 100,
                                            "type": "string"
                                        },
                                        "registryId": {
                                            "description": "The registry ID associated with the request.",
                                            "pattern": "[0-9]{12}",
                                            "type": "string"
                                        },
                                        "repositoryName": {
                                            "description": "The repository name associated with the request.",
                                            "maxLength": 256,
                                            "minLength": 2,
                                            "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LifecyclePolicyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteRepository": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes an existing image repository. If a repository contains images, you must use the <code>force</code> option to delete it.",
                "operationId": "DeleteRepository",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "repository": {
                                            "registryId": "012345678901",
                                            "repositoryArn": "arn:aws:ecr:us-west-2:012345678901:repository/ubuntu",
                                            "repositoryName": "ubuntu"
                                        }
                                    },
                                    "properties": {
                                        "repository": {
                                            "description": "The repository that was deleted.",
                                            "properties": {
                                                "createdAt": {
                                                    "description": "The date and time, in JavaScript date format, when the repository was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "registryId": {
                                                    "description": "The AWS account ID associated with the registry that contains the repository.",
                                                    "pattern": "[0-9]{12}",
                                                    "type": "string"
                                                },
                                                "repositoryArn": {
                                                    "description": "The Amazon Resource Name (ARN) that identifies the repository. The ARN contains the <code>arn:aws:ecr</code> namespace, followed by the region of the repository, AWS account ID of the repository owner, repository namespace, and repository name. For example, <code>arn:aws:ecr:region:012345678910:repository/test</code>.",
                                                    "type": "string"
                                                },
                                                "repositoryName": {
                                                    "description": "The name of the repository.",
                                                    "maxLength": 256,
                                                    "minLength": 2,
                                                    "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                                    "type": "string"
                                                },
                                                "repositoryUri": {
                                                    "description": "The URI for the repository. You can use this URI for Docker <code>push</code> or <code>pull</code> operations.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "RepositoryNotEmptyException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "force": true,
                                    "repositoryName": "ubuntu"
                                },
                                "properties": {
                                    "force": {
                                        "description": " If a repository contains images, forces the deletion.",
                                        "type": "boolean"
                                    },
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry that contains the repository to delete. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository to delete.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteRepositoryPolicy": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the repository policy from a specified repository.",
                "operationId": "DeleteRepositoryPolicy",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "policyText": "{ ... }",
                                        "registryId": "012345678901",
                                        "repositoryName": "ubuntu"
                                    },
                                    "properties": {
                                        "policyText": {
                                            "description": "The JSON repository policy that was deleted from the repository.",
                                            "maxLength": 10240,
                                            "minLength": 0,
                                            "type": "string"
                                        },
                                        "registryId": {
                                            "description": "The registry ID associated with the request.",
                                            "pattern": "[0-9]{12}",
                                            "type": "string"
                                        },
                                        "repositoryName": {
                                            "description": "The repository name associated with the request.",
                                            "maxLength": 256,
                                            "minLength": 2,
                                            "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "RepositoryPolicyNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "repositoryName": "ubuntu"
                                },
                                "properties": {
                                    "registryId": {
                                        "description": "The AWS account ID associated with the registry that contains the repository policy to delete. If you do not specify a registry, the default registry is assumed.",
                                        "pattern": "[0-9]{12}",
                                        "type": "string"
                                    },
                                    "repositoryName": {
                                        "description": "The name of the repository that is associated with the repository policy to delete.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "repositoryName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeImages": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns metadata about the images in a repository, including image size, image tags, and creation date.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
                "operationId": "DescribeImages",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "imageDetails": {
                                            "description": "A list of <a>ImageDetail</a> objects that contain data about the image.",
                                            "items": {
                                                "description": "An object that describes an image returned by a <a>DescribeImages</a> operation.",
                                                "properties": {
                                                    "imageDigest": {
                                                        "description": "The <code>sha256</code> digest of the image manifest.",
                                                        "type": "string"
                                                    },
                                                    "imagePushedAt": {
                                                        "description": "The date and time, expressed in standard JavaScript date format, at which the current image was pushed to the repository. ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "imageSizeInBytes": {
                                                        "description": "<p>The size, in bytes, of the image in the repository.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
                                                        "type": "integer"
                                                    },
                                                    "imageTags": {
                                                        "description": "The list of tags associated with this image.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "registryId": {
                                                        "description": "The AWS account ID associated with the registry to which this image belongs.",
                                                        "pattern": "[0-9]{12}",
                                                        "type": "string"
                                                    },
                                                    "repositoryName": {
                                                        "description": "The name of the repository to which this image belongs.",
                                                        "maxLength": 256,
                                                        "minLength": 2,
                                                        "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "The <code>nextToken</code> value to include in a future <code>DescribeImages</code> request. When the results of a <code>DescribeImages</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RepositoryNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ImageNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "filter": {
                                        "description": "The filter key and value with which to filter your <code>DescribeImages</code> results.",
                                        "properties": {
                                            "tagStatus": {
                                                "description": "The tag status with which to filter your <a>DescribeImages</a> results. You can filter results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.",
                                                "enum": [
                                                    "TAGGED",
                                                    "UNTAGGED",
                                                    "ANY"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "imageIds": {
                                        "description": "The list of image IDs for the requested repository.",
                                        "items": {
                                            "description": "An object with identifying information for an Amazon ECR image.",
                                            "properties": {
                                                "imageDigest": {
                                                    "description": "The <code>sha256</code> digest of the image manifest.",
                                                    "type": "string"
                                                },
                                                "imageTag": {
                                                    "description": "The tag used for the image.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of repository results returned by <code>DescribeImages</code> in paginated output. When this parameter is used, <code>DescribeImages</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeImages</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeImages</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify images with <code>imageIds</code>.",
                                        "maximum": 1000,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
[...]
